
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Management System</title>
    </head>
    <body>
        {% comment %} <h1 id="msg">Welcome to Bagpack <br>please Register first...</h1> {% endcomment %}
        <h1 id="msg">Employee Management <br>System!!</h1>
    <div class="container">
           <a class="btn" href="/view_all"><button>View All</button></a><br><br>
           <a class="btn" href="/add_emp"><button>Add Employee</button></a><br><br>
           <a class="btn" href="/leave"><button>Check Leaves</button></a><br><br>
           <a class="btn" href="/leave_status"><button>Leave Status</button></a><br><br>
           <a class="btn" href="/"><button>Remove Emoloyee</button></a>
            
        </div>
    </div>


   
</body>
</html>